/* Start */
.start .box {
    max-width: 95vh;
}

/* Quiz */
.box {
    background-color: rgb(227, 227, 227);
    box-shadow: 0 0 10px rgb(154, 154, 154);

}

nav,
.title,
.question-area,
.answer {
    box-shadow: 0 0 4px rgb(154, 154, 154);
    transition: 0.7s ease;
}

.answers-area .answer input[type="radio"]:checked+label {
    color: #0d6efd;
    font-weight: bold;
}

.bullets span {
    width: 20px;
    height: 20px;
    background-color: grey;
    margin-right: 5px;
    border-radius: 50%;
}

.bullets span.on {
    background-color: #0d6efd;
}

.countdown {
    color: #0d6efd;
    font-weight: bold;
    font-size: 18px;
}

/* Results Section */
.results .container {
    width: 100%;
}

@media (min-width:767px) {
    .results .container {
        width: 50%;
    }
}

.results img {
    max-width: 100px;
}

.results .bad {
    color: red;
}

.results .good,
.results .excellent {
    color: green;
}

.results .box span {
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin-top: 10px;
}